.footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .footer-icon {
    color: white;
    margin-left: 15px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .footer-icon:hover {
    color: #ccc;
  }